#table_area {
    margin-top: 20px;
}

#table_area table {
    width: 100%;
    border-collapse: collapse;
}

#table_area th,
#table_area td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}

#table_area th {
    background-color: #0D2B4D;
    color: #fff;
}

#table_area tbody tr:hover {
    background-color: #f9f9f9;
}

img {
  height: 30px;
  vertical-align: middle;
  margin-right: 5px;
}

