/* 제목 스타일 */
h2, h3 {
  text-align: center;
  margin: 10px 0;
  color: #0D2B4D;
}

/* 시즌 선택 박스 스타일 */
#total_season {
  display: block;
  margin: 0 auto;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: #fff;
  color: #333;
}

#total_season:focus {
  border-color: #0D2B4D;
  outline: none;
}

/* 구분선 스타일 */
hr {
  border: 0;
  height: 1px;
  background-color: #ddd;
  margin: 10px 0;
}

/* 스크롤 가능한 섹션 스타일 */
#batter_section {
  max-width: 100%;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow-x: auto;
}

#pitcher_section {
  max-width: 100%;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow-x: auto;
}

/* 테이블 스타일 조정 */
#batter_table th, #batter_table td {
  text-align: center;
  padding: 5px;
  font-size: 14px;
  word-break: break-all; /* 글자가 긴 경우 줄 바꿈 */
}
/* 테이블 스타일 조정 */
#pitcher_table th, #pitcher_table td {
  text-align: center;
  padding: 5px;
  font-size: 14px;
  word-break: break-all; /* 글자가 긴 경우 줄 바꿈 */
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

table, th, td {
  border: 1px solid #ddd;
}

th, td {
  padding: 10px;
  text-align: center;
}

thead {
  background-color: #0D2B4D;
  color: #fff;
  font-size: 14px;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

tbody tr:hover {
  background-color: #f1f1f1;
}
